<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <fieldset>
      <legend>Access</legend>
      <label for="username">Username: </label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required
        placeholder="Enter your username" />
      <br>
      <label for="password">Password: </label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required
        placeholder="Enter your password" />
    </fieldset>
    <br>
    <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
